# Auto detect text files and perform LF normalization
* text=auto

Hello, I'm a sceond year computer science student who picked this major to get a job in programming video games. Some of the favorite video games are 
the Red Dead Redemption games, any of the Batman games, and any games with Zombies. I like listening to music, k-pop is my favorite, and I like reading books.
