# Auto detect text files and perform LF normalization
* text=auto

Hello, I'm a second year computer science student and I like listening to music. This is my first time using GitHub and it's very confusing not gonna lie. 
